// kmp-product-flavors — flavor: demo  build-type: release

KMPF_VARIANT = demoRelease
KMPF_FLAVOR_NAME = demo
KMPF_BUILD_TYPE_NAME = release
KMPF_BASE_URL = https://demo.openmf.org
KMPF_BUNDLE_ID = cmp-shared.demo
KMPF_DEMO_USERNAME = demo
KMPF_DEMO_PASSWORD = demo
KMPF_ENABLE_LOGGING = NO
KMPF_IS_DEBUG = NO
KMPF_IS_DEMO = YES
KMPF_IS_DEMO_BUILD = YES
KMPF_LOG_TAG = KMPTemplate
KMPF_SHOW_DEBUG_OVERLAY = NO

// Optional: uncomment after running `pod install`
// #include? "../Pods/Target Support Files/Pods-iosApp/Pods-iosApp.release.xcconfig"
